<main>
  <div class="container">

    <div class="row">
      <div class="col s12 m12">
        <h1 class="center teal-text lighten-3">Reset password</h1>
        <div class="content-container-with-padding z-depth-4">
          <div class="row">
            <form class="col s12" [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
              <div class="row">
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="new-password" type="password" class="validate" formControlName="newPassword">
                  <label for="new-password">Enter your new password</label>
                  <div *ngIf="wrongInputHasBeenTyped(newPassword)" class="alert alert-danger">
                    <div *ngIf="newPassword.errors.required">Password is required.</div>
                    <div *ngIf="newPassword.errors.pattern || newPassword.errors.minlength">
                      Not a valid password: you need at least 8 characters including a number, an upper case letter, a lower case letter.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="confirm-password" type="password" class="validate" formControlName="confirmNewPassword">
                  <label for="confirm-password">Confirm your new password</label>
                  <div *ngIf="resetPasswordForm.errors!=null && hasAllBeenTouched(newPassword,confirmNewPassword) && resetPasswordForm.errors.notSame"
                       class="alert alert-danger">
                    <div>Passwords don't match.</div>
                  </div>
                </div>
                <button type="submit" class="waves-effect waves-light yellow darken-2 btn-large black-text">Reset password<i
                  class="material-icons right">send</i></button>
              </div>

              <div *ngIf="resetPasswordForm.errors" >
                <div *ngIf="resetPasswordForm.errors.serverError" class="alert alert-danger">
                  {{resetPasswordForm.errors.serverError}}
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>

