
<i (click)="selectRating(1)" class="material-icons smiley" [class.active]="rating >= 1" >
  sentiment_very_dissatisfied</i>
<i (click)="selectRating(2)" class="material-icons smiley" [class.active]="rating >= 2" >
  sentiment_dissatisfied</i>
<i (click)="selectRating(3)" class="material-icons smiley" [class.active]="rating >= 3" >
  sentiment_neutral</i>
<i (click)="selectRating(4)" class="material-icons smiley" [class.active]="rating >= 4" >
  sentiment_satisfied</i>
<i (click)="selectRating(5)" class="material-icons smiley" [class.active]="rating >= 5" >
  sentiment_very_satisfied</i>
