<main>
  <div class="container">
    <div class="row" *ngIf="success">
      <div class="col s12 m12">
        <h1 class="center teal-text lighten-3">Check your email to proceed.</h1>
      </div>
    </div>

    <div class="row" *ngIf="!success">
      <div class="col s12 m12">
        <h1 class="center teal-text lighten-3">Forgot password?</h1>
        <div class="content-container-with-padding z-depth-4">
          <div class="row">
            <form class="col s12" [formGroup]="emailForm" (ngSubmit)="submit()">
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate" formControlName="email">
                  <label for="email">Email (A reset link will be sent to this email address)</label>
                </div>

                <button type="submit" class="waves-effect waves-light yellow darken-2 btn-large black-text">Send<i
                  class="material-icons right">send</i></button>

              </div>

              <div *ngIf="emailForm.errors" >
                <div *ngIf="emailForm.errors.serverError" class="alert alert-danger">
                  {{emailForm.errors.serverError}}
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>

