<header>
  <nav class="white fixed-top" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" routerLink="/home" class="brand-logo">CodeCoach</a>
      <ul class="right hide-on-med-and-down">
        <!-- Always visible -->
        <li><a routerLink="/home">Home</a></li>
        <!-- If not logged in  -->
        <li>
          <a *ngIf="!isLoggedIn" class="waves-effect waves-light yellow darken-2 btn black-text" routerLink="/login">
            <div>Sign-in</div>
            <i class="material-icons right">person</i>
          </a>
        </li>
        <li>
          <a *ngIf="!isLoggedIn" class="waves-effect waves-light yellow darken-2 btn black-text" routerLink="/register">
            <div>Register</div>
            <i class="material-icons right">person</i>
          </a>
        </li>
         <!-- If logged in -->

         <ng-container *ngIf="isLoggedIn">
           <a class='dropdown-trigger btn' data-target='dropdown'>
             {{username}}
             <i class="material-icons right">arrow_drop_down</i>
           </a>

           <ul id='dropdown' class='dropdown-content'>
             <li><a routerLink="/dashboard">My Profile</a></li>
             <li *ngIf="role==='COACH'"><a routerLink="/dashboard-coach">My Coach Profile</a></li>
             <li><a (click)="logout()">Logout</a></li>
           </ul>

        </ng-container>
      </ul>

      <ul id="nav-mobile" class="sidenav">

        <li *ngIf="isLoggedIn" class="welcome-msg">
          Welcome {{username}}
        </li>

        <!-- Always visible -->
        <li routerLink="/home"><a class="waves-effect waves-light grey lighten-4 btn black-text" href="#">Home
          <i class="material-icons right">home</i>
        </a></li>


        <ng-container *ngIf="!username">
          <li routerLink="/login"><a  class="waves-effect waves-light amber lighten-4 btn black-text">
            Sign in
            <i class="material-icons right">person</i>
          </a></li>

          <li routerLink="/register"><a  class="waves-effect waves-light amber lighten-4 btn black-text">
            Register<i class="material-icons right">person</i>
          </a></li>
        </ng-container>


        <ng-container *ngIf="isLoggedIn">

          <!-- If logged in -->
          <li  routerLink="/dashboard"><a class="waves-effect waves-light amber lighten-4 btn black-text">
            Dashboard<i class="material-icons right">person</i>
          </a></li>

          <li >
            <a class="waves-effect waves-light amber lighten-4 btn black-text" routerLink="/coaches" routerLinkActive="active">Find a Coach
              <i class="material-icons right">search</i></a>
          </li>

          <li  *ngIf="role==='ADMIN' || role==='COACH'">
            <a class="waves-effect waves-light light-blue lighten-4 btn black-text" aria-current="page" routerLink="/dashboard-coach" routerLinkActive="active">
              My Coach Profile
              <i class="material-icons right">school</i>
            </a>
          </li>

          <li  (click)="logout()"><a class="waves-effect waves-light teal lighten-4 btn black-text">
            Logout <i class="material-icons right">autorenew</i>
          </a></li>

        </ng-container>


      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>



</header>
