<div class="row mx-1 my-1 user-top-menu d-none show-on-large">
  <nav [ngClass]="color" class="navbar navbar-expand-lg navbar-light bg-light darken-2" role="navigation" >
    <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/dashboard" routerLinkActive="active">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/coaches" routerLinkActive="active">Find a Coach</a>
        </li>
        <li class="nav-item" *ngIf="role==='ADMIN' || role==='COACH'">
          <a class="nav-link" aria-current="page" routerLink="/dashboard-coach" routerLinkActive="active">My Coach Profile</a>
        </li>
        <li class="nav-item" *ngIf="role==='ADMIN'">
          <a class="nav-link" aria-current="page" routerLink="/dashboard-admin" routerLinkActive="active">Admin Dashboard</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
