<main>
  <div class="container">

    <div class="row">
      <div class="col s12 m12">
        <h1 class="center teal-text lighten-3">Request a session</h1>
        <div class="content-container-with-padding z-depth-4">
          <div class="row">
            <form class="col s12" [formGroup]="requestSessionForm" (ngSubmit)="submit()">


              <div class="row">
                <div class="col">
                  <input type="text" class="form-control"
                         placeholder="On which topic/subject would you like to have a coaching session?"
                         formControlName="subject"
                         name="subject"
                         aria-label="subject">

                  <div *ngIf="wrongInputHasBeenTyped(subject)" class="alert alert-danger">
                    <div *ngIf="subject.errors.required">Subject is required.</div>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col">
                  <input type="date" class="form-control" placeholder="Date" formControlName="date" aria-label="date">

                  <div *ngIf="wrongInputHasBeenTyped(date)" class="alert alert-danger">
                    <div *ngIf="date.errors.required">Date is required.</div>
                  </div>

                </div>

                <div class="col">
                  <input type="time" class="form-control" placeholder="Time" formControlName="startTime"
                         aria-label="time">
                  <div *ngIf="wrongInputHasBeenTyped(startTime)" class="alert alert-danger">
                    <div *ngIf="startTime.errors.required">Start Time is required.</div>
                  </div>
                </div>

                <div *ngIf="requestSessionForm.touched && requestSessionForm.errors?.inThePast" class="alert alert-danger">
                  <div>Please specify a time and date in the future.</div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <input type="text" class="form-control"
                         placeholder="Location"
                         formControlName="location"
                         aria-label="location">
                  <div *ngIf="wrongInputHasBeenTyped(location)" class="alert alert-danger">
                    <div *ngIf="location.errors.required">Location is required.</div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <input type="text" class="form-control"
                         placeholder="Remarks for the coach?"
                         formControlName="remarks"
                         aria-label="remarks">
                </div>
              </div>

              <div class="row right-align">
                <button type="submit" class="waves-effect waves-light yellow darken-2 btn-large black-text">
                  REQUEST SESSION<i class="material-icons right">send</i>
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
