<div class="container" *ngIf="users$ | async as users; else loading">
    <div class="row">
        <div class="col">Profile Name</div>
        <div class="col">Email address</div>
        <div class="col">Role</div>
        <div class="col"></div>
    </div>
    <div class="row" *ngFor="let user of users">
        <div class="col">{{user.profileName}}</div>
        <div class="col">{{user.email}}</div>
        <div class="col">{{user.role | titlecase}}</div>
        <div class="col">
            <button class="round-button yellow darken-2" routerLink="/dashboard-admin/edit/{{user.id}}">
                <i class="material-icons center">edit</i>
            </button>
        </div>


    </div>
</div>
<ng-template #loading>
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
</ng-template>

<div class="my-5"></div>