<ng-container *ngIf="authService.session$ | async as auth">
  <div class="row mx-1 my-1 user-top-menu d-none show-on-large">
    <nav appContextBackground class="navbar navbar-expand-lg navbar-light bg-light darken-2" role="navigation" >
      <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/coaches" routerLinkActive="active">Find a Coach</a>
          </li>
          <li class="nav-item" *ngIf="auth.isAdmin() || auth.isCoach()">
            <a class="nav-link" aria-current="page" routerLink="/dashboard-coach" routerLinkActive="active">Coach Dashboard</a>
          </li>
          <li class="nav-item" *ngIf="auth.isAdmin()">
            <a class="nav-link" aria-current="page" routerLink="/dashboard-admin" routerLinkActive="active">Admin Dashboard</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</ng-container>
