<div>
    <div class="card ">
        <div class="card-body">
            <div class="flexbox">
                <div class=" profile-image">
                    <img [src]="userImage" alt="">
                </div>
                <div class="profile-info" >
                    <div class="row border-bottom ">
                        <div class="col"><b>First name</b></div>
                        <div class="col">{{user?.firstName}}</div>
                    </div>
                    <div class="row border-bottom ">
                        <div class="col"><b>Last name</b></div>
                        <div class="col">{{user?.lastName}}</div>
                    </div>
                    <div class="row border-bottom ">
                        <div class="col"><b>Email</b></div>
                        <div class="col">{{user?.email}}</div>
                    </div>
                    <div class="row border-bottom ">
                        <div class="col"><b>Profile name</b></div>
                        <div class="col">{{user?.profileName}}</div>
                    </div>
                    <div class="row border-bottom">
                        <div class="col"><b>CodeCoach role</b></div>
                        <div class="col">{{user?.role | titlecase}}</div>
                    </div>
                </div>
            </div>
            <button [ngClass]="color" class="right btn-floating" routerLink="/dashboard/edit-profile">
                <i class="material-icons center">edit</i>
            </button>
        </div>
    </div>
</div>
