
.profile-image img {
  width: 85%;
}

.profile-info{
  width: 70%;
}

.flexbox{
  display: flex;
 flex-direction: row;
}

@media (max-width: 992px) {


  .card-body h3 {
        text-align: center;
        font-size: 1.7em;
    }

  .flexbox{
    flex-direction: column;
  }

    .profile-image img {
        margin-bottom: 20px;
    }

    .card {
        border: none !important;
        width: 100%;
        margin: 0;
        box-shadow: none;
    }
    .card-body {
        padding: 0;
        margin: 0;
    }

  .profile-image img {
    width: 80% !important;
    height: auto;
  }

  .profile-image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .profile-info{
    width: 100%;
  }

}
