.profile-image img {
  width: 85%;
}

.profile-info{
  width: 70%;
}

.flexbox{
  display: flex;
  flex-direction: row;
}


.btn-custom{
    box-shadow: inset;
    line-height: 1rem;
    margin-right: 5px;
}

@media (max-width: 992px) {

  .profile-info{
    width: 100%;
  }

  .flexbox{
    flex-direction: column;
  }

  .card-body h3 {
    text-align: center;
    font-size: 1.7em;
  }

  .profile-image img {
    margin-bottom: 20px;
  }

  .card {
    border: none !important;
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  .card-body {
    padding: 0;
    margin: 0;
  }

  .profile-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profile-image img {
    width: 70%;

  }

  .profile-info{
   margin-top: 20px;
  }


}
