<form [formGroup]="_coachFeedbackForm" (ngSubmit)="submit()">

  <app-smiley-selector></app-smiley-selector>

  <app-smiley-selector></app-smiley-selector>

  <div class="row">
    <div class="col">
      <label for="positive">positive feedback</label>
      <textarea id="positive" rows="5" cols="60" formControlName="positive" placeholder="type here..."></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="negative">negative feedback</label>
      <textarea id="negative" rows="5" cols="60" formControlName="negative" placeholder="type here..."></textarea>
    </div>
  </div>

  <div class="row right-align">
    <button type="submit" class="waves-effect waves-light yellow darken-2 btn-large black-text">Register<i
      class="material-icons right">send</i></button>
  </div>

</form>
