<app-my-profile></app-my-profile>
<div>
  <div class="card">
    <div class="card-body">
      <div class="row border-bottom ">
        <div class="col"><b>Introduction</b></div>
        <div class="col">{{user.introduction}}</div>
      </div>
      <div class="row border-bottom ">
        <div class="col"><b>Availability</b></div>
        <div class="col">{{user.availability}}</div>
      </div>
      <button [ngClass]="color" class="btn-floating right" routerLink="/dashboard-coach/edit-coach-profile">
        <i class="material-icons center">edit</i>
      </button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="border-bottom ">Coaching Topics</h3>
      <div class="row border-bottom " *ngFor="let topic of user.topicList">
        <div class="col"><b>{{topic.name}}</b></div>
      </div>
      <button [ngClass]="color" class="btn-floating right" routerLink="/dashboard-coach/edit-coaching-topics">
        <i class="material-icons center">edit</i>
      </button>
    </div>
  </div>
</div>
