<app-user-menu></app-user-menu>
<div class="row mx-md-1 my-md-1">
  <div class="col-md-3 col-xl-2">
    <ul class="nav flex-column nav-tabs  usernav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="yellow darken-2 active" [routerLinkActiveOptions]="{exact: true}">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/coachee-sessions" routerLinkActive="yellow darken-2 active">Coaching sessions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/become-coach" routerLinkActive="yellow darken-2 active">Apply to become a coach</a>
      </li>
    </ul>
  </div>
  <div class="col-md-9 col-xl-10">
    <div class="mx-md-5 my-md-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
