<div class="card ">
  <div class="card-body">
    <h3>Edit coaching topics</h3>
    <form [formGroup]="editForm" (ngSubmit)="update()">
      <div formArrayName="topics">
        <ng-container *ngFor="let topic of topics.controls; let i = index" class="row">
          <div class="row">
            <div class="col-md-9">
              <input type="text" [formControlName]="i" maxlength="50" class="form-control" list="topiclist1">
            </div>
            <div class="col-md-3 right-align">
              <button [ngClass]="color" (click)="deleteTopic(i)" class="btn">Delete</button>
            </div>
          </div>
          <div class="row alert alert-danger" *ngIf="!topic.valid">
            Please provide a valid topic
          </div>
        </ng-container>
        <datalist id="topiclist1" *ngIf="topicsFromDatabase$ | async as topics">
          <option *ngFor="let topic of topics">{{topic.name}}</option>
        </datalist>
      </div>
      <div class="row">
        <div class="right-align">
        <button [ngClass]="color" (click)="addTopic()" class="btn col-md-3" [disabled]="!canAddTopic()">Add topic</button>
      </div>
      </div>
      <div class="row">
        <div class="right-align">
          <button type="submit" class="waves-effect waves-light btn btn-custom green" [disabled]="!topics.valid">
            Save<i class="material-icons right">check_circle</i>
          </button>
          <button (click)="reset($event)" class="waves-effect waves-light btn btn-custom red accent-4">
            Cancel<i class="material-icons right">cancel</i>
          </button>
        </div>
      </div>
      <div *ngIf="editForm.errors">
        <div *ngIf="editForm.errors.serverError" class="alert alert-danger">
          {{editForm.errors.serverError}}
        </div>
      </div>
    </form>
  </div>
</div>

