<div *ngIf="profileService.currentUser$ | async as user">
    <div class="card">
        <div class="card-body">
            <form class="col s12" [formGroup]="editCoachForm" (ngSubmit)="update()">
                <div class="row border-bottom ">
                    <div class="col"><b>Introduction</b></div>
                    <input type="text" class="form-control col" formControlName="introduction"
                        aria-label="introduction text">
                </div>

                <div class="row">
                    <div *ngIf="wrongInputHasBeenTyped(introduction)" class="alert alert-danger">
                        <div *ngIf="introduction.errors">Introduction is required.</div>
                    </div>
                </div>
                <div class="row border-bottom ">
                    <div class="col"><b>Availability</b></div>
                    <div class="col">
                        <input type="text" class="form-control col" formControlName="availability"
                            aria-label="Availability">
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="wrongInputHasBeenTyped(availability)" class="alert alert-danger">
                        <div *ngIf="availability.errors">Availability is required.</div>
                    </div>
                </div>
            </form>
            <div class="right-align">
                <button class="waves-effect waves-light btn btn-custom green" [disabled] ="editCoachForm.invalid"  (click)="update()">SAVE<i
                        class="material-icons right">check_circle</i>
                </button>
                <button class="waves-effect waves-light btn btn-custom red accent-4" (click)="cancel()">CANCEL<i
                        class="material-icons right">cancel</i>
                </button>
            </div>
            <div *ngIf="editCoachForm.errors">
                <div *ngIf="editCoachForm.errors.serverError" class="alert alert-danger">
                    {{editCoachForm.errors.serverError}}
                </div>
            </div>
        </div>
    </div>
</div>
