<ng-container [ngSwitch]="perspective">
  <ng-container *ngSwitchCase="'coach'" [ngSwitch]="session.status">
    <app-requested-coach-session-details *ngSwitchCase="'REQUESTED'" [session]="session"></app-requested-coach-session-details>
    <app-waiting-feedback-coach-session-details *ngSwitchCase="'WAITING_FEEDBACK'" [session]="session"></app-waiting-feedback-coach-session-details>
    <app-common-session-details *ngSwitchDefault [session]="session" [perspective]="perspective"></app-common-session-details>
  </ng-container>
  <ng-container *ngSwitchCase="'coachee'" [ngSwitch]="session.status">
    <app-common-session-details *ngSwitchDefault [session]="session"
                                [perspective]="perspective"></app-common-session-details>
  </ng-container>
</ng-container>

