<app-user-menu></app-user-menu>
<div class="row mx-md-1 my-md-1">
  <div class="col-lg-3 col-xl-2">
    <ul class="nav flex-column nav-tabs  usernav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="yellow darken-2 active" [routerLinkActiveOptions]="{exact: true}">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/coachee-sessions" routerLinkActive="yellow darken-2 active">Coaching Sessions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/become-coach" routerLinkActive="yellow darken-2 active">Apply to become a Coach</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/edit-profile" routerLinkActive="yellow darken-2 active">Edit My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/change-password" routerLinkActive="yellow darken-2 active">Change
        Password</a>
      </li>
    </ul>
  </div>
  <div class="col-lg-9 col-xl-10">
    <div class="mx-md-1 my-md-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
