<main>

<!--  <div *ngIf="profileService.currentUser$ | async as user">
    <div class="card ">
      <div class="card-body">
        <h3>Profile Information</h3>
        <form class="col s12" [formGroup]="editForm" (ngSubmit)="update()">
  -->

  <div class="container">

    <div class="card ">
      <h3>Change password</h3>
      <div class="card-body">


            <form class="col s12" [formGroup]="changePasswordForm" (ngSubmit)="submit()">


              <div class="row border-bottom ">
                <div class="col"><b>Email</b></div>
                <input type="text" class="form-control col" formControlName="email"
                       aria-label="First name">
              </div>

              <div class="row border-bottom ">
                <div class="col"><b>Old password</b></div>
                <input type="text" class="form-control col" formControlName="oldPassword"
                       aria-label="First name">
              </div>

              <div class="row border-bottom ">
                <div class="col"><b>New password</b></div>
                <input type="text" class="form-control col" formControlName="newPassword"
                       aria-label="First name">
              </div>

              <div class="row border-bottom ">
                <div class="col"><b>Repeat new password</b></div>
                <input type="text" class="form-control col" formControlName="newPassword2"
                       aria-label="First name">
              </div>

              <div class="row right-align">
                <button type="submit" class="waves-effect waves-light yellow darken-2 btn-large black-text">
                  Send<i class="material-icons right">send</i>
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
</main>


