<main>

<!--  <div *ngIf="profileService.currentUser$ | async as user">
    <div class="card ">
      <div class="card-body">
        <h3>Profile Information</h3>
        <form class="col s12" [formGroup]="editForm" (ngSubmit)="update()">
  -->

  <div class="container">

    <div class="card ">

      <div class="card-body">
        <h3>Change password</h3>

            <form class="col" [formGroup]="changePasswordForm" (ngSubmit)="submit()">

              <div class="row border-bottom ">
                <div class="col label-div"><b>Old password</b></div>
                <input type="password" class="form-control col" formControlName="oldPassword"
                       aria-label="old password">

                <div *ngIf="wrongInputHasBeenTyped(oldPassword)" class="alert alert-danger">
                  <div *ngIf="oldPassword.errors.required">Please type your current password</div>
                </div>

              </div>

              <div class="row border-bottom ">
                <div class="col label-div"><b>New password</b></div>
                <input type="password" class="form-control col" formControlName="newPassword"
                       aria-label="new password">
                <div *ngIf="wrongInputHasBeenTyped(newPassword)" class="alert alert-danger">
                  <div *ngIf="newPassword.errors.required">Password is required.</div>
                  <div *ngIf="newPassword.errors.pattern || newPassword.errors.minlength">
                    Not a valid password: you need at least 8 characters including a number, an upper case letter, a lower case letter.
                  </div>
                </div>
              </div>

              <div class="row border-bottom ">
                <div class="col label-div"><b>Repeat new password</b></div>
                <input type="password" class="form-control col" formControlName="newPassword2"
                       aria-label="repeat new password">

                <div *ngIf="changePasswordForm.errors!=null && hasAllBeenTouched(newPassword,newPassword2) &&
                changePasswordForm.errors.notSame"
                     class="alert alert-danger">
                  <div>Passwords don't match.</div>
                </div>

              </div>

              <div *ngIf="changePasswordForm.errors" >
                <div *ngIf="changePasswordForm.errors.serverError" class="alert alert-danger">
                  {{changePasswordForm.errors.serverError}}
                </div>
              </div>

              <div class="row right-align">
                <button type="submit" class="waves-effect waves-light yellow darken-2 btn-large black-text">
                  Send<i class="material-icons right">send</i>
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
</main>


