<main>
  <div id="index-banner">
    <div class="section no-pad-bot parallax-container">
      <div class="container">
        <h2 class="header center teal-text lighten-3"><i class="extra-large material-icons">people</i></h2>
      </div>
      <div class="parallax"><img src="assets/images/background1.jpg" alt="Final-project-skeleton"></div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col s12 m12">
        <h1 class="center teal-text lighten-3" style="font-family:gentium">CodeCoach</h1>

        <p class=" light flow-text">CodeCoach is a platform that allows you to get coached on coding issues.</p>
        <p class=" light flow-text">Developers with difficulties when coding can ask for explanations and advice from more experienced developers in their organisation.</p>
        <p class=" light flow-text">With CodeCoach everything is quick and easy: just register as a Coach or request a coaching session on this website, and it will organize a private coaching session in the organisation.</p>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="black-text">It is action that creates motivation<i
            class="material-icons">format_quote</i></h5>
          <h6 class="light black-text"><i>Steve Backley</i></h6>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/images/background2.jpg" alt="Final-project-skeleton"></div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col s6 m6">
        <h1 class="center teal-text lighten-3" style="font-family:gentium">Become a Coach</h1>
        <p class="center flow-text">To help others and increase your potential</p>

        <p class=" light flow-text">If you feel strong in a laguage or framework and want to help other developers, sign up as a coach at your organisation, you will strengthen you knowledge in this subject, you will develop new skills and abova all you will feel useful. Your commitment will be recognized and rewarded by your organisation.</p>
        
      </div>
      <div class="col s6 m6">
        <h1 class="center teal-text lighten-3" style="font-family:gentium">Benefit from coaching</h1>
        <p class="center flow-text">To improve your code results and regain motivation</p>

        <p class=" light flow-text">If you have difficulties when coding and you want to progress, book an appointment for private coaching, and benefit from the developing and practical experience from another developer at your organisation, who understands your concrete needs. Your willingness to progress will be recognized by your organisation.  </p>
        
      </div>
    </div>
  </div>

  
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="black-text">In learning you will teach,<br> and in teaching you will learn.<i
            class="material-icons">format_quote</i></h5>
          <h6 class="light black-text"><i>Phil Collins</i></h6>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/images/background3.jpg" alt="Final-project-skeleton"></div>
  </div>
  
  <div class="container">

    <div class="row">
      <div class="col s12 m12">
        <h1 class="center teal-text lighten-3" style="font-family:gentium">Any Questions?</h1>


        <p class="center light flow-text">Talk to your supervisor or the CodeCoach coordinator at your organisation.</p>
        
      </div>
     
    </div>
  </div>

</main>
