.profile-image img {
  width: 100%;
}

.margin{
    margin: 10px 20px;
}

.custom{
    line-height: 1rem;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

@media (max-width: 767px) {
    .card-body h3 {
        text-align: center;
        font-size: 1.7em;
    }

    .profile-image img {
        margin-bottom: 20px;
    }

    .card {
        border: none !important;
        width: 100%;
        margin: 0;
        box-shadow: none;
    }
    .card-body {
        padding: 0;
        margin: 0;
    }

}

.bronze{
    background-color: #bf360c;
}
.silver{
    background-color: #bdbdbd;
}
.gold{
    background-color: #827717;
}
.platinum{
    background-color: #e1f5fe;
    color: black;
}
.ruby{
    background-color: #d50000;
   
}
.diamond{
    background-color: #e0f7fa;
    color: black;
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
  }
  
  .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    transition: width 0.6s ease;
  }
