<app-user-menu></app-user-menu>
<div *ngIf=user>
    <div class="card mx-md-5 my-md-5">
        <div class="card-body">
            <h3 class="border-bottom ">Profile Information </h3>
            <div class="row">
                <div class="col-md-3 profile-image">
                    <img [src]="userImage" alt="">
                </div>
                <div class="col-md-8">
                    <div *ngIf="role==='ADMIN'">
                        <div class="row border-bottom ">
                            <div class="col-md-4"><b>First name</b></div>
                            <div class="col-md-4">{{user.firstName}}</div>
                        </div>
                        <div class="row border-bottom ">
                            <div class="col-md-4"><b>Last name</b></div>
                            <div class="col-md-4">{{user.lastName}}</div>
                        </div>
                        <div class="row border-bottom ">
                            <div class="col-md-4"><b>Email</b></div>
                            <div class="col-md-4">{{user.email}}</div>
                        </div>
                    </div>
                    <div class="row border-bottom ">
                        <div class="col-md-4"><b>Profile name</b></div>
                        <div class="col-md-4">{{user.profileName}}</div>
                    </div>
                    <div class="row border-bottom">
                        <div class="col-md-4"><b>CodeCoach role</b></div>
                        <div class="col-md-4">{{user.role | removeUnderscore| titlecase}}</div>
                    </div>
                    <div *ngIf="user.role=='COACH'">
                        <a class="waves-effect waves-light yellow darken-2 btn black-text right"
                            routerLink="/create-session/{{user.id}}" *ngIf="user.id!=loggedInId">
                            <span class="black-text center custom" *ngIf="isMobile()">Book a Session</span>
                            <i class="material-icons right">date_range</i>
                        </a>
                        <a class="waves-effect waves-light yellow darken-2 btn black-text right" routerLink="/egg"
                            *ngIf="user.id==loggedInId">
                            <span class="black-text center custom" *ngIf="isMobile()">Book a Session</span>
                            <i class="material-icons right">date_range</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="user.role=='COACH'">
        <div class="card mx-md-5 my-md-5">
            <div class="card-body">
                <h3 class="border-bottom ">Coach Information</h3>
                <div class="row border-bottom ">
                    <div class="col-md-2"><b>Introduction</b></div>
                    <div class="col-md-6">{{user.introduction}}</div>
                </div>
                <div class="row border-bottom ">
                    <div class="col-md-2"><b>Availability</b></div>
                    <div class="col-md-6">{{user.availability}}</div>
                </div>
            </div>
        </div>
        <div class="card mx-md-5 ">
            <div class="card-body">
                <h3 class="border-bottom ">Coaching Topics</h3>
                <div class="row border-bottom " *ngFor="let topic of user.topicList">
                    <div class="col"><b>{{topic.name}}</b></div>
                </div>
            </div>
        </div>
    </div>
</div>
